* {
  font-family: "Roboto", sans-serif;
}

:root{
  --bg-main: #f8f9fa;
  --bg-secondary: #212529;
  --bg-tertiary: #e9ecef;
  --text-white: #f8f9fa;
  --text-white-2: #E9ECEF;
  --text-white-3: #DEE2E6;
  --text-white-4: #CED4DA;
  --text-white-5: #adb5bd;
  --text-dark: #212529;
  --text-dark-2: #495057;
  --text-dark-3: #343a40;
  --text-dark-4: #6c757d;
}

/**************
Boostrap styles start
***************/

/*! Backgrounds */
.bg-main {
  background-color: #f8f9fa !important;
}
.bg-secondary {
  background-color: #212529 !important;
}
.bg-tertiary {
  background-color: #e9ecef !important;
}

/*! Buttons */
.btn-main {
  background-color: #212529 !important;
  color: #f8f9fa !important;
  border: none;
}

.btn-secondary {
  background-color: #e9ecef !important;
  color: #212529 !important;
  border: none;
}

.btn-tertiary {
  border: 1px solid #212529 !important;
  background-color: #f8f9fa !important;
  color: #212529 !important;
  border: none;
}

/*! Text */
/** White */
.text-white {
  color: #f8f9fa !important;
}
.text-white-2 {
  color: #E9ECEF !important;
}
.text-white-3 {
  color: #DEE2E6 !important;
}
.text-white-4 {
  color: #CED4DA !important;
}
.text-white-5 {
  color: #adb5bd !important;
}

/** Dark */
.text-dark {
  color: #212529 !important;
}
.text-dark-2 {
  color: #343a40 !important;
}
.text-dark-3 {
  color: #495057 !important;
}
.text-dark-4 {
  color: #6c757d !important;
}

/* Form Check */
.form-check-input:checked {
  background-color: #212529 !important;
  border-color: #212529 !important;
}
/**************
Boostrap styles end
***************/

body {
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

.scrollBarCO::-webkit-scrollbar {
  display: none;
}
